.container{
    width:100%;
    height:300px;
    background-color:purple;
    border:2px solid black;
    display:flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;


}

.container .itembox{
    width: 200px;
    height:200px;
    background-color:tomato;
    color:white;
    border:2px solid black;
    text-align:center;
    line-height:200px;
    text-align:center;
    font-size:30px;

}

.child1{
    order:2;
}
.child2{
    order:1;
}
.child3{
    order:0;
}